* {
    font-family: Helvetica;
    text-align: center;
    color: seashell;
    
}

html {
    background-color: black;
    font-size: 22px;
}

#header {
    height: 69px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    z-index: 1;
}

.logo {
    height: 50px;
    padding-left: 10px;
    display: flex;
}

#nav-bar {
    padding-right: 10px;
}

#nav-bar a {
    padding-left: 20px;
}

#nav-bar a:hover {
    text-decoration: none;
}

main {
    padding-top: 62px;
    opacity: 0.8;
    z-index: -1;
}
.mission-content {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-image: url(../images/img-mission-background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mission-text {
    width: 1200px;
    height: 150px;
    background-color: #00000099;
}

.tea-of-the-month {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.tea-images {
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
}

.tea-images img {
    width: 300px;
    height: 200px;
    margin: 10px;
    opacity: 0.7;
}

.tea-images img:hover {
    opacity: 1;
}

.tea-images-text {
    height: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locations-container {
    width: 1200px;
    height: 500px;
    background-image: url(../images/img-locations-background.jpg);
    background-size: cover;
    display: block;
    flex-wrap: wrap;
    margin: 0 auto;
}

.locations-container h2 {
    margin: 0 0 15px 0;
    padding-top: 100px;
}

.locations {
    width: 1200px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 40px;
}

.locations-boxes {
    width: 300px;
    height: 230px;
    background-color: black;
    opacity: 1;
}

#info {
    height: 200px;
    padding-top: 20px;
}

#info h2 {
    padding-bottom: 20px;
}

#info a {
    text-decoration: none;
}

#info a:hover {
    text-decoration: underline;
}

.footer h5{
    text-align: start;
    padding-left: 20px;
    opacity: 0.8;
}